@model IEnumerable<DemoApp.Models.Student>

@{
    ViewData["Title"] = "Index";
}


<div class="card">
    <h5 class="card-header">Student List</h5>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roll)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Semester)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Roll)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Semester.Name)
                        </td>
                        <td>
                            <a asp-action="Create" asp-route-id="@item.Id">Edit</a> |
                            @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                            <a class="js-delete btn btn-danger text-white" data-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Styles
{
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />

    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/lib/bootbox.js/bootbox.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/js/students/index.js"></script>

}